
.grids{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding:20px 100px;
}

.grid{
    width:270px;
    height: 200px;
    margin-left: 50px;
}

@media screen and (min-width:300px) and (max-width:768px) {

    .grids{
        display: flex;
        flex-direction: column;
        padding: 20px 10px;
    }
    
}