.section_div {
    padding: 20px;
    height: 550px;
    background-image: url("/images/h_image.webp");
    background-position: right center; /* This positions the image to the right */
    background-size: contain; /* This makes the image fit within the container */
    background-repeat: no-repeat;
    background-color: #F3f3f3;
  }
  .first {
    margin : 150px 0px 0px 150px;
    width: 50%;
  }
  .first h1 {
    font-size: 40px;
    margin: 0px;
  }
  .first p{
    font-size: 14px;
    margin-left: 5px;
  }
  .first button {
    background-color: black;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 10px;
  }

  @media screen and (min-width: 300px) and (max-width: 768px) {
    .section_div {
      width:auto;
      height: 300px;
      padding: 0px;
      background-image: url("/images/h_image.webp");
      background-position: bottom right; /* This positions the image to the right */
      background-size: contain; /* This makes the image fit within the container */
      background-repeat: no-repeat;
      background-color: #fdf6e9;
      background-size: 150px;
    }
    .first {
      padding: 50px;
      width: 100%;
      align-items: center;
      margin: 0px;
    }
    .first h1 {
      font-size: 20px;
    }
    .first h3 {
      font-size: 16px;
    }
    .first p {
      font-size: 12px;
    }
    .first button {
      padding: 5px;
    }
  
  }
  