.category_div {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px;
  background-color: #f3f3f3;
}
.title {
  display: flex;
  justify-content: space-between;
}
.title ul {
  display: flex;
  list-style: none;
  gap: 10px;
}
.title p {
  font-size: 24px;
  font-weight: 400;
}
.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 2rem;
  padding: 50px 250px;
}
.card {
  background-color: white;
  width: 300px;
  padding: 15px;
  border-radius: 10px;
  transition: transform 0.3s;
}
.card:hover {
  transform: translateY(-10px);
}
.card h3 {
  color: #ffcc00;
  font-size: 1.5rem;
}
.card p {
  color: #666;
}
.author {
  display: flex;
  align-items: center;
}

.author img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
  border: 1px thin #f40fb3;
}

.author_info h4 {
  margin: 0;
  font-size: 1.2em;
}

.author_info p {
  margin: 0;
  font-size: 1em;
  color: #666;
}

@media screen and (min-width: 300px) and (max-width: 768px) {
  .category_div {
    padding: 50px;
  }
  .title p {
    font-size: 14px;
  }
  .icon_size {
    width: 20px;
  }

  .cards {
    display: grid;
    grid-template-columns: 1fr;
    padding: 0px;
  }
  .card {
    width: 250px;
  }
  .card p {
    font-size: 14px;
  }
}
