.category_div{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px;
}
.filter_div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.cards{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 5rem;
    margin-top: 20px;
}
.title{
    display: flex;
    justify-content: space-between;
}
.title ul {
    display: flex;
    list-style: none;
    gap: 10px;
}
.title p{
    font-size: 24px;
    font-weight: 400;
}

.grids{
    margin: 50px 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap:3rem;
}

.grid{
    width:270px;
    height: 200px;
}

@media screen and (min-width:300px) and (max-width:768px) {

    .grids{
        display: flex;
        flex-direction: column;
    }
    
}